<header>
	<h3>Bookers</h3>
</header>
<main>
	<h1>welcome to<br>
		<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
	Bookers      !! </h1>
</main>
<div class="main_text">
In <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
Bookers,<br><br>
you can share and exchange your opinions , inpressions , and emotions<br><br>
about various books!<br><br>

<div class="btn-group-vertical btn-group-lg btn-block" role="group">
	<a href="#" class="btn btn-info btn-default">Log in</a>
	<a href="#" class="btn btn-warning btn-default">Sign Up</a>
</div>

<footer>CopyRight Infratop.inc</footer>