<main>
	<div class="title">welcome to<br>
		<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
	Bookers  !! </div>
</main>
<div class="main_text">
In <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
Bookers,<br><br>
you can share and exchange your opinions , inpressions , and<br>emotions<br><br>
about various books!<br><br>

<div class="row">
  <p><a class="btn btn-info col-xs-3 col-xs-offset-4 sign_in" href="/users/sign_in">Log in</a></p>
</div>
<div class="row">
  <p><a class="btn btn-warning col-xs-3 col-xs-offset-4 sign_up" href="/users/sign_up">Sign Up</a></p>
</div>


<footer>CopyRight Infratop.inc</footer>